@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

:root {
    --accent-color: #2d8cff;
    --main-color: #f6f7f9;
}

body {
    width: 640px;
    height: 480px;
    padding: 0;
    margin: 0;
    background-color: var(--main-color);
    animation: fadein 0.5s;
}

.accent-color {
    color: var(--accent-color);
}

.default-font {
    font-family: 'Noto Sans JP', sans-serif;
}

nav {
	width: 100%;
	background-color: var(--accent-color);
	border: none;
	user-select: none;
	position: fixed;
	top: 0px;
}

nav ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style: none;
	float: left;
	text-align: center;
    border-left: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    width: calc(100% / 5);
    box-sizing: border-box;
}

nav ul li:first-child {
    border-left: 2px solid var(--main-color);
}

nav ul li:last-child {
    border-right: 2px solid var(--main-color);
}

nav ul li a {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 15px;
    display: block;
    text-decoration: none;
    color: var(--main-color);
    padding: 15px 0;
    transition: 0.25s;
}

.nav-selected a {
    color: var(--accent-color);
	background-color: var(--main-color);
}

nav ul li a:hover {
    transition: 0.25s;
	color: var(--accent-color);
	background-color: var(--main-color);
}

#test {
    font-family: 'Noto Sans JP', sans-serif;
    color: #ff000f;
    position: relative;
    bottom: -50px;
}

#welcome {
    font-family: 'Noto Sans JP', sans-serif;
    color: #2d8cff;
}

#textEntry {
    font-family: 'Noto Sans JP', sans-serif;
    color: #2d8cff;
    position: relative;
    bottom: -60px;
}
.main-content {
    font-family: 'Noto Sans JP', sans-serif;
    color: #2d8cff;
    position: relative;
    bottom: -50px;
    right: -25px;
}